.Fox{
    height: 100vh;
 background-image: url("abstract-background-wallpaper-futuristic.jpg");
 background-repeat: no-repeat;   
 background-size:cover;
    position: relative;
}

.column{
 display: inline-block;
 width: 48%;
} 

.col1
{
position: absolute;
left: 25%;
top:15%;
}

.col2 
{
 display: inline-block;
 position: absolute;
 right: 105%;
 
}
.col3
{
    display: inline-block;
    position:absolute;
   left: 100%;
}
.col4 {
display: inline-block;
position: absolute;
right: 100;
}

#one {
    border: 5px solid grey;
}

p 
{
display: inline-block;
 font-family: monospace;
 color: white;
 font-size: medium;
}
h1 {
    font-family:monospace;
    color: white;
}
h2 
{
font-family: monospace;
color: white;
}

#two 
{
 border: 4px solid grey;
 border-width: 2px;
}
.card-body1 
{
display: inline;
font-family: monospace;
color: white;

}
.car-body0 {
font-family: monospace;
color: black;
}

.btn
{
    
    font-size: medium;
    display: inline-block;
    font-family: monospace;
    color: black;
    
}
#zero
{
 border:  solid;
 color: red;
 border-color: red;
 position: absolute;
 left: 100%;
 bottom: 100%;
}



